<div>
    
</div>

<script src="/socket.io/socket.io.js"></script> {{!-- Instanciamos un socket --}}

{{!-- El script de socket siempre debe estar antes que el script propio --}}

<script src="js/index.js"></script> {{!-- Refernciamos al index.js --}}